/* 
cream - #F9FCF8
brown - #322B28 
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(255, 253, 248);
  overscroll-behavior-y: none;
  line-height: 1.5;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
}

li {
  list-style-type: none;
}

.navbar {
  position: fixed;
  top: 0;
  padding: 1.5rem 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.index-nav {
  width: 100%;
}

.index-nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.index-nav a {
  text-decoration: none;
  color: #000;
}

.logo {
  display: block;
  width: 30%;
  max-width: 120px;
  z-index: 2;
}

nav {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 1;
}

.menu-icon span {
  display: block;
  width: 24px;
  height: 2px;
  position: relative;
  background: black;
  z-index: 1;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menu-icon span:first-child {
  transform-origin: 0% 0%;
}

.menu-icon span:last-child {
  transform-origin: 0% 100%;
}

.nav.is-open .menu-icon span {
  transform: rotate(45deg);
}

.nav.is-open .menu-icon span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.nav.is-open .menu-icon span:last-child {
  transform: rotate(-45deg);
}

.menu {
  display: flex;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background: rgb(255, 253, 248);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  visibility: hidden;
  transition: all 0.55s ease;
}

.menu li {
  padding: 10px 0;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 2.25rem;
  letter-spacing: -0.9px;
}

.nav.is-open .menu {
  opacity: 1;
  visibility: visible;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about {
  margin-top: 12rem;
}

.container {
  padding: 0 0.75rem;
  max-width: 540px;
  margin: 0 auto;
}
.about h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.05;
}

.about-title {
  padding-bottom: 2.5rem;
}

.about-title,
.about-subtitle {
  padding-top: 2.5rem;
}

.about-subtitle {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 1.2rem;
}

.about .container p {
  margin-bottom: 1rem;
  letter-spacing: 0.1px;
}

.about-perspective,
.about-services {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.services {
  display: flex;
  gap: 3rem;
}

.services-subtitle {
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.services ul {
  display: flex;
  flex-direction: column;
}

.contact {
  margin-top: 12rem;
}

.home {
  width: 100%;
  height: 100%;
}

.home-logo {
  width: 60%;
  max-width: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hidden {
  visibility: hidden;
}

.carousel {
  height: auto;
  padding: 0;
  width: 100vw;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  overflow-x: scroll;
  position: fixed;
  left: 1rem;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  height: 50vh;
  width: 100%;
}

.carousel-item img {
  width: auto;
  height: 100%;
}

@media screen and (min-width: 560px) {
  .container {
    padding: 0 2.5rem;
  }

  .about h2 {
    font-size: 3.6rem;
  }
  .navbar {
    padding: 2rem;
  }

  .services div {
    flex-grow: 1;
  }

  .services li {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
  .menu-icon {
    display: none;
  }

  .menu {
    display: block;
    position: relative;
    visibility: visible;
    height: auto;
    width: auto;
    opacity: 1;
    background: none;
    padding: 0;
  }

  .menu ul {
    display: flex;
    gap: 5rem;
  }

  .menu li {
    padding: 10px 0;
  }

  .menu a {
    font-size: 1rem;
    text-transform: none;
    letter-spacing: normal;
  }

  .carousel {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 10%;
    overflow: visible;
  }

  .carousel-item img {
    height: auto;
    width: 100%;
  }

  .carousel-item {
    position: absolute;
    transform-origin: center;
  }

  .container {
    padding: 0 0.75rem;
    max-width: 720px;
  }
}

@media screen and (min-width: 990px) {
  .container {
    max-width: 960px;
  }

  .about .row {
    width: 66%;
  }

  .about h2 {
    font-size: 4.6rem;
  }

  .about-intro {
    position: relative;
  }

  .about-services .media {
    max-width: 300px;
  }

  .about-services .row {
    width: 100%;
    display: flex;
    gap: 5rem;
  }

  .about-perspective,
  .about-services {
    margin-top: 15rem;
    margin-bottom: 15rem;
  }

  .hero-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    max-width: 480px;
  }
}

@media screen and (min-width: 1320);
